@import url(https://fonts.bunny.net/css?family=libre-bodoni:400,400i|oswald:200,300,400,500,600,700|roboto:300,300i,400,400i,500,500i,700,700i);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 16px;
  color: #243033;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@keyframes header-span {
  50% {
    background: url(../images/back-50-160.gif) center/60px;
    -webkit-background-clip: text;
  }
}
@keyframes photos-02 {
  35% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-2-2_01-300x450.jpg);
  }
  50% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-2-2_03-300x450.jpg);
  }
  85% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-2-2_03-300x450.jpg);
  }
  100% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-2-2_01-300x450.jpg);
  }
}
@keyframes photos-06 {
  35% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/0001/040-pld-142-085-l-01_04-300x450.jpg);
  }
  50% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/0001/040-pld-142-085-l-01_02-300x450.jpg);
  }
  85% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/0001/040-pld-142-085-l-01_02-300x450.jpg);
  }
  100% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/0001/040-pld-142-085-l-01_04-300x450.jpg);
  }
}
@keyframes photos-08 {
  35% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-3_01-300x450.jpg);
  }
  50% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-3_05-300x450.jpg);
  }
  85% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-3_05-300x450.jpg);
  }
  100% {
    background-image: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-3_01-300x450.jpg);
  }
}
footer {
  border-top: 1px solid #243033;
  padding-top: 1rem;
  color: #f3f4f6;
}
footer #contacts {
  background: #243033;
}
footer #contacts h2 {
  padding: 1rem;
}
footer #contacts > ul {
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  background: #f3f4f6;
  padding-top: 1px;
}
footer #contacts > ul > li {
  font-weight: bold;
  padding: 1rem;
  flex-grow: 1;
  background: #243033;
}
footer #contacts > ul > li:nth-of-type(1), footer #contacts > ul > li:nth-of-type(3) {
  min-width: calc(40% - 2.1rem);
}
footer #contacts > ul > li:nth-of-type(2) {
  min-width: calc(20% + 4.2rem - 2px);
}
footer #contacts > ul > li ul {
  font-weight: normal;
  padding-top: 1rem;
}
footer .message {
  background: #243033;
  margin-top: 1rem;
  padding: 2rem;
}
footer .message form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
footer .message form button {
  background: none;
  color: #f3f4f6;
  padding: 0.5rem 1rem;
  border: 1px solid #f3f4f6;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s linear;
}
footer .message form button:hover {
  color: #243033;
  border-color: #E6506E;
  background: #E6506E;
}
footer .message fieldset {
  border: none;
  border: 1px solid #f3f4f6;
  padding: 1rem 0;
  width: 100%;
}
footer .message fieldset legend {
  font-size: 1.2rem;
  font-weight: 400;
}
footer .message fieldset .forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}
footer .message fieldset .forms .form-left, footer .message fieldset .forms .form-right {
  width: 30rem;
  padding: 0 2rem 2rem 2rem;
  background: #243033;
}
footer .message fieldset .forms input[type=text], footer .message fieldset .forms select, footer .message fieldset .forms input[type=email], footer .message fieldset .forms textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
footer .message fieldset .forms label[for=frau], footer .message fieldset .forms label[for=herr] {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
footer .message fieldset .forms select {
  margin-top: 1rem;
}
footer .message fieldset .forms textarea {
  height: 92%;
}

@media screen and (max-width: 992px) {
  .container-right {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-right div:nth-of-type(1) {
    grid-row: span 4;
  }
  .container-right div:nth-of-type(2) {
    grid-row: span 6;
  }
  .container-right div:nth-of-type(3) {
    grid-row: span 3;
  }
  .container-right div:nth-of-type(4) {
    display: none;
  }
  .container-right div:nth-of-type(5) {
    grid-row: span 5;
  }
  .container-right div:nth-of-type(6) {
    grid-row: span 3;
  }
  .container-right div:nth-of-type(7) {
    grid-row: span 5;
  }
  .container-right div:nth-of-type(8) {
    grid-row: span 6;
  }
  .container-right div:nth-of-type(9) {
    grid-row: span 4;
  }
}
@media screen and (max-width: 768px) {
  .container-right {
    grid-template-columns: 1fr;
  }
  .container-right div:nth-of-type(1) {
    grid-row: span 5;
  }
  .container-right div:nth-of-type(2) {
    grid-row: span 7;
  }
  .container-right div:nth-of-type(3) {
    display: none;
  }
  .container-right div:nth-of-type(5) {
    grid-row: span 6;
  }
  .container-right div:nth-of-type(6) {
    display: none;
  }
  .container-right div:nth-of-type(7) {
    display: none;
  }
  .container-right div:nth-of-type(8) {
    display: none;
  }
  .container-right div:nth-of-type(9) {
    display: none;
  }
}
@media screen and (max-width: 682px) {
  .main-containers {
    flex-direction: column;
  }
  .main-containers .container-left {
    width: 100%;
    border-right: none;
  }
  .main-containers .separating-text {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .main-containers .container-right {
    width: 100%;
    margin-bottom: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20rem;
    grid-auto-flow: row;
  }
  .main-containers .container-right div:nth-of-type(1) {
    grid-row: span 1;
  }
  .main-containers .container-right div:nth-of-type(2) {
    grid-row: span 1;
  }
  .main-containers .container-right div:nth-of-type(5) {
    grid-row: span 1;
  }
}
.main-part {
  min-height: 100vh;
}
.main-part .disclaimer {
  background: #E6506E;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.2rem;
  min-height: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.main-part .disclaimer a {
  padding: 0.1rem 0.3rem;
  color: #E0DE67;
  display: inline-block;
  background: #243033;
}
.main-part .disclaimer a:hover {
  background: #2B5C54;
  color: #E6506E;
  text-decoration: underline;
}
.main-part .main-containers {
  display: flex;
  gap: 1rem;
  min-height: calc(100vh - 30px);
}

.container-left {
  width: 40%;
  border-right: 1px solid #243033;
  background-color: #f3f4f6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto min-content;
}
.container-left header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.container-left header nav .logo {
  width: 5rem;
  background-image: radial-gradient(75% 50% at 24% 75%, #7E9149 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(75% 50% at 75% 75%, #E6506E 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(75% 50% at 75% 25%, #E0DE67 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(75% 50% at 25% 25%, #2B5C54 0%, rgba(255, 255, 255, 0) 100%);
}
.container-left header nav > ul {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.container-left header nav > ul > li {
  position: relative;
}
.container-left header nav > ul > li > ul {
  background: #E0DE67;
  width: 100%;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
}
.container-left header nav > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}
.container-left header nav > ul a {
  color: #2B5C54;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1rem;
  transition: background 0.5s linear, color 0.2s linear;
}
.container-left header nav > ul a:hover {
  background: #E6506E;
  color: #f3f4f6;
}
.container-left header h1 {
  text-align: center;
  font-size: 5rem;
  word-spacing: -1.5rem;
  border-top: 1px solid #243033;
  border-bottom: 1px solid #243033;
  padding: 3rem 1rem;
  font-family: "Oswald", sans-serif;
}
.container-left header h1 strong {
  color: #f3f4f6;
  background-color: black;
  border: 1px solid black;
  display: inline-block;
  width: 240px;
}
.container-left header h1 span {
  display: inline-block;
  width: 240px;
  border: 1px solid black;
  background: url(../images/back-63-384.gif) center/60px;
  color: transparent;
  -webkit-background-clip: text;
  animation: header-span 5s ease 1s infinite;
}
.container-left main {
  padding: 1rem;
}
.container-left main p {
  margin: 1rem 0;
  text-align: justify;
}
.container-left main p strong {
  font-size: 1.2rem;
  font-family: "Libre Bodoni", serif;
  font-weight: 400;
  font-style: italic;
}
.container-left .foot {
  border-top: 1px solid #243033;
  padding: 2rem 2rem 3rem 2rem;
  text-align: center;
}
.container-left .foot h2 {
  font-size: 1.5rem;
}
.container-left .foot ul {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.container-left .foot ul li {
  flex-grow: 1;
}
.container-left .foot ul li a {
  color: #7E9149;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.6s ease;
}
.container-left .foot ul li a:hover {
  box-shadow: -4px -4px 24px #FBFCFE, 4px 4px 8px hsla(221, 20%, 43%, 0.5);
}
.container-left .foot ul li:nth-child(1) a {
  background: radial-gradient(100% 100% at 0% 50%, #2B5C54 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 100% at 60% 25%, #E0DE67 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 100% at 100% 100%, #E6506E 0%, rgba(255, 255, 255, 0) 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.container-left .foot ul li:nth-child(2) a {
  color: #4267B2;
}
.container-left .foot ul li:nth-child(3) a {
  background: radial-gradient(100% 100% at 25% 25%, #405DE6 0%, rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 75% 25%, #C13584 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 100% at 75% 75%, #F56040 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 100% at 25% 75%, #FFDC80 0%, rgba(255, 255, 255, 0) 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.container-left .foot ul li:nth-child(4) a {
  color: #E60023;
}

.separating-text {
  background-color: #243033;
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align-last: justify;
  word-wrap: break-word;
  font-size: 1.6rem;
  padding: 0.2rem 0.1rem 0.2rem 0.2rem;
  font-family: "Oswald", sans-serif;
}

.container-right {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-auto-flow: column;
  gap: 1.5rem;
  margin-right: 1rem;
}
.container-right div {
  border-radius: 1.5rem;
}
.container-right div a {
  display: block;
  width: 100%;
  height: 100%;
}
.container-right div:nth-of-type(1) {
  grid-row: span 6;
  background: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-1-3_03-300x450.jpg) center/cover;
}
.container-right div:nth-of-type(2), .container-right div:nth-of-type(5), .container-right div:nth-of-type(8) {
  grid-row: span 8;
}
.container-right div:nth-of-type(2) {
  background: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-2-2_01-300x450.jpg) center/cover;
  animation: photos-02 10s ease infinite;
}
.container-right div:nth-of-type(3) {
  grid-row: span 4;
  background: url(https://etnoxata.com.ua/image/cache/catalog/040/040-bl-229-087-l-2_04-300x450.jpg) center/cover;
}
.container-right div:nth-of-type(4) {
  grid-row: span 5;
  background: url(https://etnoxata.com.ua/image/cache/catalog/040/040-pl-050-087-ks-2_03-300x450.jpg) center/cover;
}
.container-right div:nth-of-type(5) {
  background: url(https://etnoxata.com.ua/image/cache/catalog/180/180-23033_102-300x450.jpg) center/cover;
}
.container-right div:nth-of-type(6) {
  grid-row: span 5;
  background: url(https://etnoxata.com.ua/image/cache/catalog/040/0001/040-pld-142-085-l-01_04-300x450.jpg) center/cover;
  animation: photos-06 10s ease 3s infinite;
}
.container-right div:nth-of-type(7) {
  grid-row: span 4;
  background: url(https://etnoxata.com.ua/image/cache/catalog/1110/1110-8000-1_01-300x450.jpg) center/cover;
}
.container-right div:nth-of-type(8) {
  background: url(https://etnoxata.com.ua/image/cache/catalog/040/040-29-3_01-300x450.jpg) center/cover;
  animation: photos-08 10s ease 6s infinite;
}
.container-right div:nth-of-type(9) {
  grid-row: span 6;
  background: url(https://etnoxata.com.ua/image/cache/catalog/040/040-60-6_05-300x450.jpg) center/cover;
}

/*# sourceMappingURL=style.css.map */
