@media screen and (max-width: 992px) {
    .container-right {
        grid-template-columns: repeat(2, 1fr);

        div:nth-of-type(1) {grid-row: span 4;}
        div:nth-of-type(2) {grid-row: span 6;}
        div:nth-of-type(3) {grid-row: span 3;}
        div:nth-of-type(4) {display: none;}
        div:nth-of-type(5) {grid-row: span 5;}

        div:nth-of-type(6) {grid-row: span 3;}
        div:nth-of-type(7) {grid-row: span 5;}
        div:nth-of-type(8) {grid-row: span 6;}
        div:nth-of-type(9) {grid-row: span 4;}
    }
}

@media screen and (max-width: 768px) {
    .container-right {
        grid-template-columns: 1fr;

        div:nth-of-type(1) {grid-row: span 5;}
        div:nth-of-type(2) {grid-row: span 7;}
        div:nth-of-type(3) {display: none;}
        div:nth-of-type(5) {grid-row: span 6;}
        div:nth-of-type(6) {display: none;}
        div:nth-of-type(7) {display: none;}
        div:nth-of-type(8) {display: none;}
        div:nth-of-type(9) {display: none;}
    }
}

@media screen and (max-width: 682px) {
    .main-containers {
        flex-direction: column;

        .container-left {
            width: 100%;
            border-right: none;
        }

        .separating-text {
            writing-mode: horizontal-tb;
            transform: none;
        }

        .container-right {
            width: 100%;
            margin-bottom: 1rem;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 20rem;
            grid-auto-flow: row;
            
            div:nth-of-type(1) {grid-row: span 1;}
            div:nth-of-type(2) {grid-row: span 1;}
            div:nth-of-type(5) {grid-row: span 1;}
        }
    }
}